.nav-container{
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    background: rgb(255, 255, 255);
    border: 2px white solid;
    border-radius: 100px;
    height: 64px;
    width: 1408;
    box-shadow: 0px 2px 4px rgba(44.90, 59.01, 66.94, 0.05);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    top: 0;
    right: 12px;
    bottom: 12px;
    left: 24px;
    z-index: 700; /* to make it more visible than anyother component */
    padding-right: 10px;

    .logo-container{
        height: 36px;
        position: relative;
        width: 36px;
       
        .nav-logo{
            height: 36px;
            left: 23px;
            position: absolute;
            top: 6px;
            width: 36px;

        }
    }

    .nav-links-container{

        display: flex;
        flex-direction: row;
        gap: 38px;
        

        .nav-links{
            display: flex;
           align-items: center;
           justify-content: center;
          flex-wrap: nowrap;
          gap: 4px;
          padding: 8px 18px 8px 14px;
          border-radius: 100px;

          
          .nav-links-icon{
            width: 20px;
            height: 20px;
            
          }

          .nav-links-text{
            height: 24px;
           font-family: Degular;
           color: rgb(86, 97, 107);
           font-size: 16px;
           font-weight: 600;
           line-height: 24px;
          text-align: center;
           letter-spacing: -0.4px;
           word-break: break-word;

          }
            
        }


    }

    .nav-links-container2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 28px;
    

        .nav-links-icons-container{

            height: 20px;
            width: 20px;
            position: relative;

            .nav-links-icons2{
                height: 20px;
                width: 20px;
                position: absolute;
                left: 0px;
                top: 2px;


        }
    }

    .nav-link-menu-container{
        display: flex;
        justify-content: flex-start;
        background: #DBDEE5;
        justify-items: center;
        align-items: center;
        width: auto;
        height: auto;
        border-radius: 100px;
        gap: 8px;
        cursor: pointer;

        .menu-dark-text-wrapper{
                
                
             .menu-dark-text{

                font-family: "Degular-Semibold", Helvetica;
                font-size: 14px;
                letter-spacing: -0.4px;
                border-radius: 100px;
                height: 32px;
                width: 32px;
                background-color: #000;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffff;
                
             
                
        }

        }

       
        .menu-icon-container{
            height: 24px;
            width: 24px;
            position: relative;
            margin-right: 12px;

            .menu-icon {
                position: absolute;
                left: 4px;
                top: 0px;
                height: 24px;
                width: 24px;

            }
        }
    }
    }


}
